{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <script src="{% static 'js/materialize.min.js' %}"></script>
    <body>
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Logo</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        <li><a href="{% url 'about_page' %}">About</a></li>
                        <li><a href="{% url 'portfolio_page' %}">Portfolio</a></li>
                        <li><a href="{% url 'contact_page' %}">Contact us</a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
            {% block content %}
                <h1>Base template</h1>
            {% endblock %}

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Footer Content</h5>
                            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your
                                footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="{% url 'home_page' %}">Home</a></li>
                                <li><a class="grey-text text-lighten-3" href="{% url 'about_page' %}">About</a></li>
                                <li><a class="grey-text text-lighten-3" href="{% url 'portfolio_page' %}">Portfolio</a></li>
                                <li><a class="grey-text text-lighten-3" href="{% url 'contact_page' %}">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2020 Copyright
                        <a class="grey-text text-lighten-4 right" href="#!">Developed by</a>
                    </div>
                </div>
            </footer>
      </div>
    </body>
</html>