{% extends 'base.html' %}
{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
  <h1>Contact us</h1>
  <div class="row">
    <br>
    <div class="col s12 m9">
      <a class="dg-widget-link" href="http://2gis.kg/bishkek/firm/70000001038163168/center/74.59227561950685,42.87805546421722/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Бишкека</a><div class="dg-widget-link"><a href="http://2gis.kg/bishkek/firm/70000001038163168/photos/70000001038163168/center/74.59227561950685,42.87805546421722/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.kg/bishkek/center/74.592278,42.877755/zoom/16/routeTab/rsType/bus/to/74.592278,42.877755╎CodifyLab, образовательный центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до CodifyLab, образовательный центр</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":1200,"height":400,"borderColor":"#a3a3a3","pos":{"lat":42.87805546421722,"lon":74.59227561950685,"zoom":16},"opt":{"city":"bishkek"},"org":[{"id":"70000001038163168"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}