{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
  <h1> My portfolio</h1>
  <div class="row">
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static 'img/office.jpg' %}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
  </div>


{% endblock %}